/*
Name: Brennan Matthews
Date: February 08, 2024
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, div, img {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for images */
img {
    max-width: 100%;
    display: block;
}


/*Style rules for navigation area */
nav {
    width: 70%;
    margin: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: "Francois One", sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: #2a1f14;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

/* Style rules for main content */
main {
    padding: 2%;
    font-family: Verdana, Arial, sans-serif;
}

main p {
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
}

main ul {
    list-style-type:circle;
}

.tel-link {
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

#contact {
    text-align: center;
    font-weight: bold;
}

.round {
    border-radius: 8px;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.75em;
    background-color: #2a1f14;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}

/* Tablet Display Styles */
@media screen and (min-width: 630px) {
    #HomeImage {
        float:left;
        height: 40%;
        width: 40%;
    }
    footer {
        clear: both;
    }
    main {
        padding: 50px;
    }
}